#question2,
#question3,
#question4,
#question5 {
  display: none;
}
#scorescreen {
  display: none;
}
#firstbaa,
#secondbaa,
#thirdbaa,
#fourthbaa {
  position: relative;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 10s;
}
@keyframes run {
  0% {
    left: 0%;
  }
  49% {
    transform: scaleX(1);
  }
  50% {
    left: 70%;
    transform: scaleX(-1);
  }
  100% {
    left: 0%;
    transform: scaleX(-1);
  }
}

/*responsiivisuus*/
@media screen and (max-width: 900px) {
  .theme-switcher {
    display: none;
  }
  .col-3,
  .auto {
    display: none;
  }
  .col-6 {
    text-align: end;
  }
  .col-12 {
    justify-content: end;
  }
}
@media screen and (max-width: 770px) {
  .col-1 {
    display: none;
  }
  .col-6 {
    position: sticky;
  }
}
